<% provide :title, t(".addemployee_title") %>
<% provide :button_text, t(".addemployee_submit") %>
<div class="container text-center">
  <h1><%= t ".addemployee_title" %></h1>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for User.new do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :name, t(".name") %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :gender, t(".gender") %>
      <%= f.select :gender, User.gender_attributes_for_select, class: "selected" %>

      <%= f.label :birthday, t(".birthday") %>
      <%= f.date_field :birthday, id: "datepicker" %>

      <%= f.label :address, t(".address") %>
      <%= f.text_field :address, class: "form-control" %>

      <%= f.label :phone_number, t(".phone_number") %>
      <%= f.text_field :phone_number, class: "form-control" %>

      <%= f.label :email, t(".email") %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, t(".password") %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :password_confirmation, t(".confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.hidden_field :user_type, value: "employee" %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
